// defining variables

$Accent_color: #e50913 ;
$brand-secondary-color: #fff; 
$bg-accent-color: #141414;

$Small: 576px;
$Medium: 768px;
$Large: 992px;
$Extra-large: 1200px;
$Extra-extra-large: 1400px;