<div class="expanded_popup" id="expanded_popup">
	<div class="expanded" id="myExpanded">
		<span class="close_btn" id="close_btn">
			<i class="lni lni-close"></i>
		</span>
		<div class="expanded-content">
			<img id="expandedImage" src="" alt="">
			<div class="modalInfoContainer">
				<h1 id="movieTitle"></h1>
				<p id="modalInfo"></p>
			</div>
		</div>
	</div>
</div>
