@use "../partials/importers" as *;

.views-element-container {
    h2 {
        display: none;
    }
}
.view-content.slick-initialized.slick-slider.slick-dotted {
    position: relative;
    .arrow.slick-arrow {
        position: absolute;
        transition: 0.5s;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 2;
        .lni-chevron-left::before,
        .lni-chevron-right::before {
            color: $brand-secondary-color;
            font-size: 35px;
        }
    }
    .arrow.slick-arrow.slick-disabled {
        transition: 0.5s;
        opacity: 0.25;
    }
    .Slick-Next {
        cursor: pointer;
        right: 0;
    }
    .Slick-Prev {
        cursor: pointer;
        left: 0;
    }
}
.slick-dots {
    bottom: 0px !important;
    opacity: 0.7;
    .slick-active {
        button {
            background: $Accent_color !important;
        }
    }
    li button {
        width: 20px !important;
        height: 4px !important;
        padding: 0px !important;
        background: $brand-secondary-color;

        &:before {
            content: " " !important;
        }
    }
}
.slider {
    position: relative;

    .movie_img {
        .field--name-field-movie-img {
            .field__label {
                display: none;
            }
            .field__item {
                background-color: $bg-accent-color;
                img {
                    width: 100%;
                    opacity: 0.7;
                    height: 400px !important;
                    object-fit: cover;
                    object-position: 100% 35%;
                }
            }
        }
    }
    .movie_title {
        text-align: center;
        width: 100%;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        font-family: Montserrat-Medium;
        h3 {
            color: $brand-secondary-color;
            text-transform: uppercase;
            letter-spacing: .6rem;
            margin-bottom: 35px;
            font-size: 5.4rem;
            @include media($Medium) {
                margin-bottom:2rem;
                font-size:3.4rem;
            }
            @include media($Small) {
                margin-bottom:2rem;
                font-size:1.4rem;
            }
        }
        .tell_me_more_button {
        font-family: Montserrat-Regular;
            text-decoration: none;
            color: $brand-secondary-color;
            border: 1px solid $brand-secondary-color;
            padding: 10px 14px;
        }
    }
}
